<button (click) = "getAllTasksFromService()">Get All Tasks</button>

<div *ngFor = "let task of taskList">
    <div class="tasks">
        <div>
            Task title: {{task.title}}
        </div>
        <div>
            Task description: {{task.description}}
        </div>
        <div>
            Task completed : {{task.completed}}
        </div>
        <div>
            Task created at: {{task.created_at}}
        </div>
        <div>
            Task updated at: {{task.created_at}}
        </div>
    </div>
</div>