

<div *ngFor = "let task of taskList">
    <div class="tasks">
        <div>
            Task title: {{task.title}}
        </div>
        <div>
            Task description: {{task.description}}
        </div>
        <div>
            Task completed : {{task.completed}}
        </div>
        <div>
            Task created at: {{task.created_at}}
        </div>
        <div>
            Task updated at: {{task.created_at}}
        </div>
    </div>
</div >
<h4>Here you can see just one task</h4>
<div class="task" >
    Title: {{onetask.title}}, Description: {{onetask.description}}, Completed: {{onetask.completed}}

</div>